{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Gallery Page</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}

<div class="container my-5">

    <div class="container text-center bg-secondary text-light p-2 shadow rounded-3">
        <h1 class="display-6">Gallery</h1>
    </div>

    <!-- Gallery div  -->
    <div class="container my-5">

        <div class="row">

            <!-- left section  -->
            <div class="col-3">
                <div class="container">

                    <ul class="list-group">
                        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'gallery' %}">All Images</a></li>

                        {% for cat in category %}
                        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'category' cat.id %}">{{cat.title}}</a></li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

            <!-- right section  -->
            <div class="col-9">


                <div class="row">

                    {% for img in images %}
                    <div class="col-3 mb-3">
                        <div class="cards border" style="width:13rem;">
                            <img src="{{img.image.url}}" alt="No Image" class="card-img-top" height="150px">

                            <div class="card-body">
                                <h5>{{img.title}}</h5>
                                <h6>Uploaded By{{img.uploaded_by}}</h6>
                                <a href="{{img.image.url}}" class="btn btn-success btn-sm">View Image</a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            
        </div>

    </div>

</div>
{% endblock body %}